/* -------------------------------------------------------------------------- */
/* FOOTER */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* FOOTER 1 SECTION */
/* -------------------------------------------------------------------------- */
.footer-1 {
  background: url('../img/footer-bg@2x.jpg') center / cover;
  min-height: 300px;
  padding: 40px 20px;

  .containerish {
    display: grid;
    row-gap: 2rem;

    .col-left {
      .newsletter-form {
        input {
          width: 100%;
          height: 35px;
          margin-bottom: .6rem;
        }
      }
    }

    .col-right {
      .footer-nav {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li a {
          color: $color-white;
          font-family: $font-primary;
          font-size: 18px;
          line-height: 40px;

          &:hover {
            color: $color-main;
            text-decoration: none;
          }
        }
      }
    }
  }
}

/* -------------------------------------------------------------------------- */
/* FOOTER 2 SECTION */
/* -------------------------------------------------------------------------- */
.footer2 {
  background-color: $color-dark;
  width: 100%;
  padding: 0.6rem 20px;
  height: 50px;
  display: flex;
  align-items: center;

  .containerish {
    display: grid;
    align-items: center;
    // max-width: 1200px;

    .foot-left {
      grid-row: 1;

      .social-link {
        color: $color-white;
        margin-right: 1rem;

        &:hover {
          color: $color-main;
          text-decoration: none;
        }
      }

      .social-link:last-child {
        margin-right: 0;
      }
    }

    .foot-right {
      grid-row: 1;
    }

    .footer-2-copy {
      font-family: $font-primary;
      font-size: 15px;
      font-weight: 300;
      color: $color-white;
      padding: 0;
      margin: 0;
    }

    .footer-link-2 {
      font-weight: 300;
      font-size: 12px;
      line-height: calc(12px * 1.5);
      font-family: $font-primary;
      color: $color-white;

      &:hover {
        color: $color-main;
        text-decoration: none;
      }
    }
  }
}