/* -------------------------------------------------------------------------- */
/* HEADER */
/* -------------------------------------------------------------------------- */
header {
  position: static;
  width: 100%;
  z-index: 9999;
  height: auto;
}
/* -------------------------------------------------------------------------- */
/* TOPABR */
/* -------------------------------------------------------------------------- */
.topbar {
  width: 100%;
  height: 30px;
  height: auto;
  // padding: .3rem 0;
  background-color: $color-main;

  .containerish {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    height: auto;
    padding: 0;
    display: grid;
    grid-gap: 1rem;

    .col-left {
      display: flex;
      justify-content: center;
      align-items: center;
      display: none;

      .social-wrapper {
        margin-right: 2rem;
      }
    }

    .col-mid {
      text-align: center;
      align-items: center;
      display: none;

      p {
        margin: 0;
      }
    }

    .col-right {
      display: flex;
      justify-content: center;
      align-items: center;

      .topbar-nav {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
          display: inline-block;
        }

        li:not(:last-child) {
          margin-right: 1rem;
        }
      }
    }
  }

  .topbar-link {
    color: $color-white;
    font-family: $font-primary;
    font-size: 12px;
    font-weight: 300;
    margin-right: 1rem;

    &:hover {
      color: $color-dark;
      text-decoration: none;
    }
  }
  .topbar-link:last-child {
    margin-right: 0;
  }

  .social-link {
    color: $color-white;
    margin-right: 1rem;

    &:hover {
      color: $color-dark;
      text-decoration: none;
    }
  }
  .social-link:last-child {
    margin-right: 0;
  }

}

/* -------------------------------------------------------------------------- */
/* NAVBAR */
/* -------------------------------------------------------------------------- */
.nav-wrapper {
  background: rgba($color-white, 0);
  position: relative;

  .container {
    position: relative;

    .desktop-logo {
      position: absolute;
      left: 0;
      top: 0;
      width: 100px;
      display: none;
    }
  }
}

.navbar {
  .nav-logo {
    max-width: 190px;
  }
}

.nav-item {
  margin-right: 0.7rem;

  .nav-link {
    font-family: $font-primary !important;
    color: $color-dark !important;
    font-size: 0.8125rem;
    font-style: normal;

    &:hover {
      color: $color-main !important;
    }
  }
}

.nav-item .nav-link:last-child {
  padding-right: 0;
  padding-left: 0;
}

.nav-item.nav-divider {
  position: relative;

  &::after {
    content: "|";
    color: $color-dark;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.3;
  }
}

.nav-item:last-child {
  margin-right: 0 !important;

  .nav-link {
    margin-right: 0;
  }
}

.dropdown-menu {
  background-color: rgba($color-light, 1);
  border-color: transparent;
  border: none;
  margin-top: 0 !important;

  .dropdown-item {
    color: $color-dark;
    font-family: $font-primary;
    font-weight: 400;

    &:hover {
      background-color: transparent;
      color: $color-main;
    }

    &:focus {
      background: transparent;
    }
  }
}

.dropdown-toggle::after {
  border: none !important;
  margin-left: 0 !important;
}