/* -------------------------------------------------------------------------- */
/* RESPONSIVE MEDIA QUERIES */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* SMALL BREAKPOINT (Landscape Phones and Up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 576px) {
  .ui-btn {
    display: inline-flex;
    width: auto;
    padding: 1rem 0.5rem;
  }
}

/* -------------------------------------------------------------------------- */
/* MEDIUM BREAKPOINT (Tablets 768px and up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 768px) {
  .ui-btn {
    display: inline-flex;
    min-width: 220px;
  }

  .navbar {
    padding: .4rem .5rem;
  }



  /* HERO ******************************************************************* */
  .hero {

    .containerish {
      height: 65vh;
      justify-content: center;

      .section-info {
        width: 75%;
        max-width: 741px;
      }

      .event-ol {
        right: 0;
        width: 319px;
      }
    }
  }

  /* DAVINCI **************************************************************** */
  .davinci {
    background: url('../../img/davinci-bg@2x.jpg') center / cover;
    padding: 40px 20px;

    .containerish {
      display: flex;
      flex-direction: column;
      align-items: center;

      .section-info {
        margin-top: 3rem;
        max-width: 800px;

        .ui-btn-group {
          align-self: center;
        }
      }
    }
  }

  /* BIO ******************************************************************** */
  .bio {
    padding: 40px 0;

    .containerish {
      display: grid;
      grid-template-columns: 75%;
      justify-content: center;

      .dr-img-container {
        height: 70vh;
      }

      .section-info {
        padding: 40px 0;
      }
    }
  }
}

/* -------------------------------------------------------------------------- */
/* LARGE BREAKPOINT (Desktops 992px and up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 992px) {
  .ui-btn {
    display: inline-flex;
    width: auto;
    padding: 0.8rem 0.5rem;
    width: 225px;
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
  }

  /* TOPBAR ***************************************************************** */
  .topbar {
    padding: .2rem 1rem;

    .containerish {
      grid-template-columns: max-content 1fr max-content;
      align-items: center;


      .col-mid {
        display: flex;
        justify-content: center;

        p {
          margin: 0;
          text-align: center;
        }
      }

    }
  }

  /* NAVBAR ***************************************************************** */
  .dropdown:hover>.dropdown-menu {
    display: block;
  }

  .nav-wrapper {
    position: relative;

    .containerish {
      padding: .2rem 1rem;
    }
  }

  .navbar {
    .nav-logo {
      max-width: 339.31px;
      max-height: 93.16px;
      transition: all .3s ease-in-out;

      &.show {
        max-width: 250px;
        max-height: auto;
        transition: all .3s ease-in-out;
      }
    }

    &.show {
      padding: 0;
    }
  }

  .nav-item {
    margin-right: 1rem;
  }

  /* HERO ******************************************************************* */
  .hero {

    .containerish {
      height: inherit;
      justify-content: center;
      padding: 0 20px;
      height: 75vh;

      &::before {
        background: rgba($color-dark, 0);
      }

      .section-info {
        width: 60%;
        max-width: 741px;
        margin-bottom: -8rem;
      }

      .event-ol {
        right: 0;
        width: 319px;

      }
    }
  }


  /* SEARCH ***************************************************************** */
  .search {
    // background: $color-light;
    padding: 40px 20px;

    .containerish {
      display: grid;
      grid-template-columns: max-content 1fr max-content;
      grid-gap: 1rem;
      align-items: center;

      .form-control {
        border-radius: 0;
        margin-bottom: 0;
      }

      .form-control:not(button) {
        border: 1px solid #ededed;
      }

      ::placeholder {
        color: #3e3a42;
        font-family: $font-primary;
        font-size: 15px;
      }
    }
  }

  /* BIO ******************************************************************** */
  .bio {
    padding: 0;

    .containerish {
      display: grid;
      grid-template-columns: 1.5fr 2fr;
      grid-column-gap: 1rem;
      align-items: center;

      .dr-img-container {
        height: 55vh;
      }

      .section-info {
        padding: 0 20px;
      }
    }
  }

  /* TESTIMONIAL ************************************************************ */
  .testimonial {
    padding: 40px 40px;
    position: relative;
    height: 75vh;
    max-height: 777px;
    display: flex;
    align-items: flex-end;

    &::before {
      background: rgba($color-main, .0);
    }

    .containerish {
      display: flex;
      justify-content: flex-start;
    }
  }



  /* FOOTER ***************************************************************** */
}

/* -------------------------------------------------------------------------- */
/* EXTRA LARGE BREAKPOINT (Large Desktops 1200px and up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 1200px) {

  /* NAVBAR ***************************************************************** */
  .nav-wrapper {
    padding: 0;
  }

  .navbar {
    .nav-logo {
      width: 270.97px;
      height: 73.83px;
    }
  }

  /* HERO ******************************************************************* */
  .hero {

    .containerish {
      height: inherit;
      justify-content: center;
      padding: 0 4rem;
      height: 75vh;

      &::before {
        background: rgba($color-dark, 0);
      }

      .section-info {
        width: 60%;
        max-width: 540px;
        margin-bottom: -8rem;
      }

      .event-ol {
        right: 0;
        width: 319px;

      }
    }
  }

  /* BIO ******************************************************************** */
  .bio {
    .containerish {
      .dr-img-container {
        height: 75vh;
      }

      .section-info {
        padding: 0 40px;
      }
    }
  }

}

/* -------------------------------------------------------------------------- */
/* MACBOOK PRO 15" BREAKPOINT (Large Desktops 1400px and up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 1400px) {

  /* TOPBAR ***************************************************************** */
  .topbar {
    padding: .2rem 1rem;

    .containerish {
      grid-template-columns: 1fr max-content 1fr;
      align-items: center;


      .col-mid {
        display: flex;
        justify-content: center;

        p {
          margin: 0;
          text-align: center;
        }
      }

      .col-right {
        display: flex;
        justify-content: flex-end;
      }
    }
  }

  /* NAVBAR ***************************************************************** */
  .nav-wrapper {
    .containerish {
      padding: .5rem 0;
    }
  }

  /* DAVINCI **************************************************************** */
  .davinci {
    padding: 80px 20px;
  }

  /* BIO ******************************************************************** */
  .bio {
    padding: 80px 0;

    .containerish {

      .dr-img-container {
        height: 85vh;
      }

      .section-info {
        padding: 0 40px;
      }
    }
  }
}

/* -------------------------------------------------------------------------- */
/* SUPER LARGE BREAKPOINT (IMAC STATUS 1900px and up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 1900px) {

  /* BIO ******************************************************************** */
  .bio {
    .containerish {

      .dr-img-container {
        height: 55vh;
      }

      .section-info {
        padding: 0 40px;
      }
    }
  }
}