/* -------------------------------------------------------------------------- */
/* SECTION STYLES */
/* -------------------------------------------------------------------------- */
/* MISC ********************************************************************* */
.title-bar {
  height: 5px;
  width: 83px;
  background: $color-main;
  margin-bottom: 1.5rem;
  display: block;
}

/* HERO ********************************************************************* */
.hero {
  position: relative;

  .containerish {
    height: 85vh;
    padding: 40px 20px;
    background: url('../../img/hero-bg@2x.jpg') center / cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba($color-white, .85);
    }

    .section-info {
      width: 100%;
      max-width: 741px;
      z-index: 20;
    }

    .event-ol {
      background: rgba($color-dark, .8);
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: auto;
      padding: 1rem;

      .event-title {
        font-family: $font-primary;
        font-size: 13px;
        font-weight: 700;
        line-height: 18px;
      }

      .event-copy {
        font-family: $font-primary;
        font-size: 12px;
        font-weight: 500;
        line-height: 11px;

        &.is-italic {
          font-style: italic;
        }
      }

      .event-btn {
        color: $color-dark;
        font-family: $font-primary;
        font-size: 10px;
        font-weight: 700;
        background: $color-white;
        padding: .3rem 1rem;
        transition: all .3s ease-in-out;

        &:hover {
          background: rgba($color-main, .5);
          color: $color-white;
          text-decoration: none;
          transition: all .3s ease-in-out;
        }
      }
    }
  }

}

/* SEARCH ******************************************************************* */
.search {
  background: $color-white;
  padding: 40px 20px;

  .containerish {
    display: grid;

    .form-control {
      border-radius: 0;
      margin-bottom: 0.5rem;
    }

    .form-control:not(button) {
      border: 1px solid #ededed;
    }

    ::placeholder {
      color: #3e3a42;
      font-family: $font-primary;
      font-size: 15px;
    }
  }
}

/* DAVINCI ****************************************************************** */
.davinci {
  background: url('../../img/davinci-bg@2x.jpg') center / cover;
  padding: 40px 20px;

  .containerish {
    .section-img {
      width: 100%;
      height: auto;
    }

    .section-info {
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      .ui-btn-group {
        align-self: stretch;
      }
    }
  }
}

/* BIO ********************************************************************** */
.bio {
  .containerish {
    display: grid;

    .dr-img-container {
      background: url('../../img/dr-img@2x.jpg') center / cover;
      width: 100%;
      height: 70vh;
    }

    .section-info {
      padding: 40px 20px;
    }
  }
}

/* VAG THERAPY - TEMPSURE *************************************************** */
.vag-tempsure {
  background: url('../../img/diva-tempsure-bg@2x.jpg') center / cover;

  .containerish {
    display: grid;

    .col-left,
    .col-right {
      .section-img {
        width: 100%;
        height: auto;
      }

      .section-info {
        padding: 40px 20px;
      }
    }
  }
}

/* LABIAPLASTY ************************************************************** */
.labiaplasty {
  background: url('../../img/labiaplasty-bg@2x.jpg') center left / cover;
  padding: 40px 20px;
  display: flex;
  align-items: center;

  .containerish {
    .section-info {
      width: 100%;
      max-width: 621px;
    }
  }
}

/* PELVIC REHAB ************************************************************* */
.pelvic-rehab {
  background: url('../../img/davinci-bg@2x.jpg') center / cover;
  padding: 40px 20px;

  .containerish {
    .section-img {
      width: 100%;
      height: auto;
    }

    .section-info {
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      .ui-btn-group {
        align-self: stretch;
      }
    }
  }
}

/* INTERSTIM **************************************************************** */
.interstim {
  .containerish {
    display: grid;

    .section-img {
      width: 100%;
      height: auto;
    }

    .section-info {
      padding: 40px 20px;
    }
  }
}

/* BLADDER BOTOX ************************************************************ */
.bladder-botox {
  background: url('../../img/bladder-botox-bg@2x.jpg') center left / cover;
  padding: 40px 20px;
  display: flex;
  align-items: center;

  .containerish {
    .section-info {
      width: 100%;
      max-width: 621px;
    }
  }
}