section {
  overflow: hidden;
}

main {
  padding-top: 7rem;

  @media screen and (min-width: 768px) {
    padding-top: 110.28px;
  }

  @media screen and (min-width: 992px) {
    padding-top: 116.68px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 136px;
  }
}

.containerish {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;


}

.section-info {
  .title-bg {
    height: 126px;
    width: 125.75px;
    opacity: .15;
    position: absolute;
    top: -45px;
    left: -45px;
  }
}